.carousel-item{
    width: 300px;

}
.carousel{
    display: flex;
    justify-content: center;
    
    
}
.product{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    gap: 10px;
}